<!DOCTYPE html>
<html ng-app="sample.app" ng-init>

<head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Spring Boot Security with AngularJS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="index.css">
</head>

<body ng-controller="MainController">
    <div class="container">

        <div ui-view="header-view"></div>
        <br/>
        <br/>
        <br/>
        <div ui-view="welcome-view"></div>
        <div ui-view="login-view"></div>


        <br/>
        <hr/>
        This is always visible:

        <span ng-show="!authenticated">You need to login in.</span>
        <span ng-show="authenticated">Welcome You are logged in.</span>
        <br/>
        <button ng-click="login()">Login as Wojtek|abc123</button>
        <br/>
        <button ng-click="getDocument()">Get Document</button>
        <br/>
        <button ng-click="logout()">Logout</button>


    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" crossorigin="anonymous"></script>-->
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.4/lodash.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-resource.js"></script>
    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.3/angular-ui-router.min.js"></script>
    <!--<script src="//unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>-->
    <script src="index.js"></script>
</body>
</html>