<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8"/>
    <title>Books</title>
</head>
<body>
    <h3>BOOKS:</h3>

    <table>
        <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.title}"/>
                <!--<td>-->
                    <!--<input type="text" th:field="*{book.title}" />-->
                <!--</td>-->
                <td th:text="${book.author}">author</td>
                <td th:text="${book.price}">price</td>

                <!--<td><a href="#" th:text="${message.title}">Title ...</a></td>-->
            </tr>
        </tbody>
    </table>
    <br/>
    <a href="addbook">Add New Book</a>
    <br/>
    --------------------
    <!--<form action="#" th:action="@{/addbook}" th:object="${newBook}" method="post">-->
            <!--<p>Title</p><input type="text" th:field="*{newBook.title}" />-->
    <!--</form>-->
</body>
</html>