<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Admin</title>
</head>
<body>
    <div th:replace="fragments/header :: header"/>

    <p>Admin Page</p>

    <h3>Users:</h3>
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Password</th>
            <th>EncryptedPassword</th>
            <th>Roles</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.id}"/>
            <td th:text="${user.username}"/>
            <td th:text="${user.password}"/>
            <td th:text="${user.encryptedPassword}"/>
            <td th:text="${user.roles}"/>
        </tr>
        </tbody>
    </table>

    <h3>Create new user:</h3>
    <form name='createUserForm' action="#" th:action="@{/createUser}" method="POST">
        <table>
            <tbody>
                <tr>
                    <td>Username:</td>
                    <td><input name="username" type="text"/></td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td><input name="password" type="text"/></td>
                </tr>
                <tr>
                    <td>Roles:</td>
                    <td><input name="roles" type="text"/></td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="Create" /></td>
                </tr>
            </tbody>
        </table>
    </form>

    <h3>Delete users:</h3>
    <form name="deleteUser" action="#" th:action="@{/deleteUser}" method="POST">
        User ids to delete: <input name="userId" type="text"/>
        <input name="submit" type="submit" value="Delete" />
    </form>

</body>
</html>

